<h2>Reactivos basicos</h2>
<hr>

<!-- Campo de producto -->
<div class="row">
    <div class="col">
        <form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">
            <div class="mb3 row">
                <label class="col-sm-2 col-form-label">Producto</label>
                <div class="col-sm-10">

                    <input type="text"
                           class="form-control"
                           formControlName="nombre"
                           placeholder="Nombre del producto"
                           required
                           minlength="3">

                           <span class="form-text text-danger"
                             *ngIf="campoEsValido('nombre')"   >
                                 Debe ser de 3 letras</span>
                </div>
            </div>
            <br>

            <div class="mb3 row">
                <label class="col-sm-2 col-form-label">Precio</label>
                <div class="col-sm-10">
                    <input type="number"
                           formControlName="precio"
                           class="form-control"
                           placeholder="Precio del producto"
                           required>

                           <span class="form-text text-danger"
                           *ngIf="campoEsValido('precio')">
                            El precio debe ser 0 o mayor</span>
                </div>
            </div>
            <br>

            <div class="mb3 row">
                <label class="col-sm-2 col-form-label">Existencias</label>
                <div class="col-sm-10">
                    <input type="number"
                           formControlName="existencias"
                           class="form-control"
                           placeholder="Existencia del producto"
                           >
                           <span class="form-text text-danger"
                           *ngIf="campoEsValido('existencias')">
                            Las existencias deben ser 0 o mayor</span>
                </div>
            </div> 
            <br>

            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end"
                            >
                        Guardar
                    </button>
                </div>
            </div>



        </form>
    </div>
</div>


<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{ miFormulario.valid}}</pre>

        <span>Pristine</span>
        <pre>{{ miFormulario.pristine}}</pre>

        <span>Touched</span>
        <pre>{{ miFormulario.touched}}</pre>

        <span>Valid</span>
        <pre>{{ miFormulario.value | json}}</pre>

        <span>Precio</span>
        <pre>{{ miFormulario.controls.precio.errors | json}}</pre>

    </div>
</div>